html {
    height: 100;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("../../background.jpeg");
    background-size: 100%;
}

.form-box {
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.493);
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.title {
    top: 10%;
    width: 100%;
    font-size: 400%;
    font-weight: bold;
    z-index: 1;
    color: rgb(0, 26, 255);
}

.button-submit {
    transition: 0.4s;
    border: 3px solid rgb(20, 175, 223);
    height: 6%;
    width: 35%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: black;
    color: rgb(20, 175, 223);
    position: static;
    opacity: 1;
}

.button-submit:hover {
    transition: 0.4s;
    border: 3px solid rgb(0, 247, 255);
    color: rgb(0, 247, 255);
    cursor: pointer;
}

.logout-box {
    font-family: "Product Sans Bold";
    font-size: 1.5rem;
    background-color: black;
    color: rgb(20, 175, 223);
    border: 5px solid black;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.logout-box:hover {
    transition: 0.4s !important;
    border: 5px solid rgb(20, 175, 223);
    color: rgb(20, 175, 223);
    cursor: pointer;
}

.topleft {
    position: relative;
}