html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../background.png");
    background-size: 100%;
    overflow: hidden;
}

.login-form-box {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.897);
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-300%) translateY(40%);
    opacity: 0;
}

.login-form-box.show {
    transition: 1s;
    transform: translateX(50%) translateY(40%);
    opacity: 1;
}

.login-form-components {
    transition: 0.4s;
    padding: 6rem 0;
    opacity: 0;
}

.login-form-components.show {
    transition: 0.4s;
    opacity: 1;
}

.Title {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    font-weight: bold;
    transform: translateY(230%);
}

.register-button {
    background-color: none;
    border: none;
}

.register-form-box {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.897);
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(50%) translateY(300%);
    opacity: 0;
}

.register-form-box.show {
    transition: 1s;
    transform: translateX(50%) translateY(-60%);
    opacity: 1;
}

.register-form-components {
    transition: 0.4s;
    padding: 6rem 0;
    opacity: 0;
}

.register-form-components.show {
    transition: 0.4s;
    opacity: 1;
}

.back-login-box {
    background: none;
    border: none;
}

.spinner {
    transition: 1s;
    opacity: 0;
}

.spinner.show {
    transition: 1s;
    opacity: 1;
}

.login-username,.login-password {
    transform: translateY(-20%);
}

.login-text,.register-text {
    color: darkblue;
}

.wrong-password {
    color:red;
    font-size: smaller;
}

.register-username-label {
    color: rgba(0,0,0,.26);
}