html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../background.png");
    background-size: 100%;
    overflow: hidden;
}

.form-box {
    background-color: blue;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(50%) translateY(300%);
    opacity: 0;
}

.form-box.show {
    transition: 1s;
    transform: translateX(50%) translateY(50%);
    opacity: 1;
}

.form-components {
    padding: 6rem 0;
    opacity: 0;
}

.form-components.show {
    transition: 0.4s;
    opacity: 1;
}

.Title {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    font-weight: bold;
    transform: translateY(230%);
}

