html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../background.png");
    background-size: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Product Sans Regular";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

.Title {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    font-weight: bold;
    transform: translateY(230%);
}

.center {
    height: 50%;
    width: 100%;
    transform: translateY(60%);
}

.cp-box {
    display: inline-block;
    vertical-align: top;
    background-color: black;
    border: 5px solid black;
    height: 15rem;
    width: 25rem;
    margin: 0 2rem;
    opacity: 0;
    transform: translateY(20%);
}

.cp-box.show {
    transition: 1s;
    opacity: 1;
    transform: translateY(0%);
}

.cp-box:hover {
    transition: 0.4s;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(13, 48, 161, 0.863);
    border: 5px solid rgb(20, 175, 223);
    height: 15rem;
    width: 25rem;
    margin: 0 2rem;
    color: white;
}

.cp-text {
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    position: relative;
    transition: 0.4s;
    background-color: transparent;
    color: rgb(20, 175, 223);
    border: none;
    font-family: "Product Sans Bold";
    cursor: pointer;
}

.cp-text:hover {
    transition: 0.4s;    
    color: rgb(20, 175, 223);
    background-color: black;
}