html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../background.png");
    background-size: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Product Sans Regular";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

.Title {
    display: none;
    font-family: 'Product Sans Regular';
    font-size: 400%;
    font-weight: bold;
    transform: translateY(230%);
}

.center {
    height: 50%;
    width: 100%;
    transform: translateY(60%);
}

.index-components {
    height: 100%;
    width: 100%;
}

.cp-box {
    transition: 0.4s;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    color: rgb(20, 175, 223);
    border: 5px solid black;
    font-family: "Product Sans Bold";
    font-size: 2.5rem;
    height: 50%;
    width: 20%;
    margin: 0 2rem;
    opacity: 0;
    transform: translateY(20%);
}

.cp-box.show {
    transition: 1s;
    opacity: 1;
    transform: translateY(0%);
    color: rgb(20, 175, 223);
}

.cp-box:hover {
    transition: 0.4s !important;
    display: inline-block;
    vertical-align: top;
    border: 5px solid rgb(20, 175, 223);
    margin: 0 2rem;
    color: rgb(20, 175, 223);
    cursor: pointer;
}