html {
    height: 100;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("./background.png");
    background-size: 100%;
    text-align: center;
}

.aset-input {
    background-color: black;
    color: rgb(20, 175, 223);
    border-color: rgb(20, 175, 223);
    height: 10%;
    width: 25%;
    font-size: 250%;
    left: 20%;
    top: 20%;
    position: absolute;
}

.aset-input-no {
    background-color: black;
    color: rgb(20, 175, 223);
    padding: none;
    width: 40px;
}

table {
    display: inline-block;
}

input {
    padding: 10px;
    background-color: black;
    color: rgb(20, 175, 223);
}

button {
    background-color: black;
    color: rgb(20, 175, 223);
    transition: 0.3s;
    height: 40px;
    width: 80px;
    border: 3px solid rgb(20, 175, 223);
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

button:hover {
    color: aqua;
    transition: 0.3s;
}

.data-bold {
    border: 3px solid rgb(20, 175, 223);
    background-color: black;
    color: rgb(20, 175, 223);
}

.page-input-no {
    background-color: black;
    color: rgb(20, 175, 223);
    transition: 0.3s;
    height: 30px;
    width: 60px;
    border: 3px solid rgb(20, 175, 223);
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.page-input {
    background-color: black;
    color: rgb(20, 175, 223);
    transition: 0.3s;
    height: 40px;
    width: 130px;
    border: 3px solid rgb(20, 175, 223);
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}
